@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(0.1);
    }
}

.fade-in-enter {
    animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeInGradient {
    from {
        background-size: 0;
    }
    to {
        background-size: 100%;
    }
}

.bg-gradient-animated {
    background-size: 100%;
    background-image: linear-gradient(to bottom right, yellow, red, pink);
    animation: fadeInGradient 0.3s ease-in-out forwards;
}

.loader {
    width: 60px;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 1;
}

.loader:before,
.loader:after {
    content: "";
    flex: 1;
    aspect-ratio: 1;
    --g-light: conic-gradient(from -90deg at 10px 10px, #1B1C22 90deg, #0000 0);
    --g-dark: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
    background: var(--g-light), var(--g-light), var(--g-light);
    filter: drop-shadow(30px 30px 0 #1B1C22);
    animation: l20 1s infinite;
}

.loader:after {
    transform: scaleX(-1);
}

.dark .loader:before, .dark .loader:after {
    background: var(--g-dark), var(--g-dark), var(--g-dark);
    filter: drop-shadow(30px 30px 0 #fff);
}

.dark-loader {
    width: 60px;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 1;
}

.dark-loader:before,
.dark-loader:after {
    content: "";
    flex: 1;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
    background: var(--g), var(--g), var(--g);
    filter: drop-shadow(30px 30px 0 #fff);
    animation: l20 1s infinite;
}

.dark-loader:after {
    transform: scaleX(-1);
}

@keyframes l20 {
    0% {
        background-position: 0 0, 10px 10px, 20px 20px
    }
    33% {
        background-position: 10px 10px
    }
    66% {
        background-position: 0 20px, 10px 10px, 20px 0
    }
    100% {
        background-position: 0 0, 10px 10px, 20px 20px
    }
}